.burger-button {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 50px auto;
}

.bar1,
.bar3 {
  background-color: #ccc;
  width: 5px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-5px);
}

.bar2 {
  background-color: #f0f0f0;
  width: 15px;
  height: 3px;
  position: relative;
  top: -5px;
}
